@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$main-font: "Kumbh Sans", sans-serif;
/*----colors----*/
$light: #f5f5f5;
$dark: #1d1e35;
$shadow: #e6e6e6;
// text
$accent: #f47c57;
$question: #4a4b5e;
$answer: #787887;
// bg gradient
$gradient-top: #af67e9;
$gradient-bottom: #6565e7;
$main-bg: linear-gradient($gradient-top 80%, $gradient-bottom);
// dividers
$divider: #e7e7e9;
